@page "/chat" 
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client


 <h3>Chat Room</h3> 
<button @onclick="StartConnection">Start</button> 
<button @onclick="StopConnection">Stop</button> 


 <div>
    <input @bind="user" placeholder="Name" />
    <input @bind="message" placeholder="Message" />
    <button @onclick="SendMessage">Send</button>
</div>

<ul> 
    @foreach (var msg in messages)
    {
        <li>@msg</li>
    }
</ul>



